/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin myexamtheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
	/* Global font styles */
	&.v-app,
	.v-window,
	.v-popupview-popup,
	.v-tooltip,
	&.v-app input,
	&.v-app select,
	&.v-app button,
	&.v-app textarea,
	.v-window input,
	.v-window select,
	.v-window button,
	.v-window textarea,
	.v-popupview-popup input,
	.v-popupview-popup select,
	.v-popupview-popup button,
	.v-popupview-popup textarea,
	.v-filterselect-suggestpopup,
	.v-datefield-popup,
	.v-contextmenu,
	.v-Notification,
	.v-menubar-submenu,
	.v-drag-element,
	.v-table-header-drag,
	.v-widget {
	   font-size: medium;
	}
	
	button.teacher-nav-button {
		font-size: large;
	}
	
	.v-caption-page-table span.v-captiontext {
		text-align: center;
		font-size: large;
		font-weight: bolder;
		line-height: 120%;
		margin: 20px auto 10px auto;
	}

}
